<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <style>
        * {
            font-family: Helvetica, sans-serif;
        }
        .title {
            margin: 0;
            margin-bottom: 1rem;
            text-align: center;
        }
        .wrapper {
            margin: 0 auto;
            max-width: 30rem;
            border: 1px solid black;
            border-radius: 0.5rem;
            padding: 1.5rem 2rem;
            margin-top: 4rem;
        }
        .shop {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 1.5rem;
            row-gap: 1rem;
            width: 100%;
        }

        .shop__item {
            align-self: center;
            text-align: center;
        }

        .input {
            border: 1px solid rgb(218, 218, 218);
            border-radius: 0.25rem;
            transition: all 0.2s ease;
            padding: 0.25rem 0.5rem;
            width: 4rem;
        }

        .input:focus {
            outline: 0;
            border: 1px solid rgb(37, 207, 151)
        }

        .submit-button {
            grid-column:  span 4;
            height: 1.875rem;
            background-color: rgb(223, 223, 223);
            border-radius: 0.5rem;
            border: 0;
        }

        .submit-button:hover {
            opacity: 65%;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <h1 class="title">Интернет-магазин драгоценностей</h1>
        <form action="purchase" method="POST" class="shop">
            <div class="shop__item ">
                Название
            </div>
            <div class="shop__item ">
                В наличии (шт.)
            </div>
            <div class="shop__item ">
                Стоимость (шт.)
            </div>
            <div class="shop__item ">
                Добавить к покупке
            </div>
            {{#each products}}
            <div class="shop__item ">
                {{this.name}}
            </div>
            <div class="shop__item ">
                {{this.count}}
            </div>
            <div class="shop__item ">
                {{this.price}}
            </div>
            <div class="shop__item ">
                <input class="input" name="{{this.name}}" type="number" min="0" max="{{this.count}}" value="0"></input>
            </div>
            {{/each}}
            <input  type="submit" value="Отправить" class="submit-button"/>
        </form>
    </div>
    
</body>
<html>